*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
   
    color: black;
}

body{
    padding: 0px 40px;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
   

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.1rem;
    cursor: pointer;

}





.nav .nav-links ul {
   list-style: none;
    display: flex;
justify-content: space-between;
    width: 230px;
    
}

.nav .nav-links ul li {
    color: hsla(0, 0%, 26%, 0.9);}

   

  .nav .nav-links ul li:hover{
    color: rgb(126, 28, 253);
    cursor: pointer;
    
    
  }

  .logo{
    display: flex;
    width:10px;
    color: rgb(110,6,242);
    
     }

  .nav .logo{
    font-weight: bold;
    padding-right: 0px;
    font-size: 1rem;
  }

  
  .chat img{
    height:1.5rem;
    width: 1.5rem;
  }

  .chat img:hover{
    cursor: pointer;  
    transform: scale(1.1);
    transition: 0.3s ease-in;
  }



    .main{
    display: flex;
    height: 90vh;
    }

  

    .main .heading{
        flex-grow: 2;
    }

    .main div{
        flex: 1;
    }

    .heading h4{
        padding-top: 6.25rem;
        font-size: 1.5rem;
         color: hsl(0, 0%, 26%);

         font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: -2px;
    }

    .heading h2{
        padding-top: 0px;
        font-size: 5.625rem   ;
        line-height: 1;color: hsl(0, 0%, 15%);
        
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        letter-spacing: -3px;
        

    }

    .heading h2 span{
        color: rgb(110,6,242);
    }

    .heading p{
        padding-top: 20px;
        font-size: 1.5rem;
        color: hsl(0, 0%, 33%);

          font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        /* letter-spacing: -2px; */
        line-height: 1.3;
    }

    .heading .buttons{
        padding: 30px 0px;
        
         
      
    }

     .heading .buttons .btn, .container6 .buttons .btn{
        margin-right: 10px;
        padding: 10px 15px;
        color: black;
        border-radius: 10px;
         border: 1px solid black;
          font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
         cursor: pointer;
     }

     .heading .buttons .btn:first-child{
        background-color: rgb(110,6,242);
        color: white;
        border: none;
      
     }

     .heading .buttons .btn:first-child:hover {
        background-color: rgb(141, 54, 254);
        color: white;
        transition: 0.3s ease-in;
     }

     .heading .buttons .btn:last-child{
        background-color: transparent;
        color: hsl(0, 0%, 15%)
     }

      .heading .buttons .btn:last-child:hover{
        background-color: hsl(0, 0%, 15%);
        color: white;
        transition: 0.3s ease-in;}

     .image{
        padding-top: 80px;
     }

     .image img{
        width: 26.25rem;
        height: 26.25rem;
        border-radius: 50%;
        border: 1px solid black;
        padding: 40px;
        object-fit: cover;
        border: 1px solid grey;
     }











     /* Projects. */

     .container2{
        height: 120vh;
        
        display: flex;
        flex-direction: column;
     }

    

     
  
     .Project h2, .container4 h1,.container5 h1{
        font-size: 3.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        padding-top: 120px;
                color: hsla(0, 0%, 15%, 0.911);

      
     }

     .Project h2{
      display: flex;
     }
     .Project h2 span:first-child, .container5 h1 span:first-child,.container4 h1 span:first-child{
        color: hsl(0, 0%, 9%);
     }

     .Project h2 span:last-child{
        color: rgb(110,6,242);
     }
     .project-img{
        padding-top: 20px;
        display: flex;
      width: 100%;
        flex: 2;
     }
     
     .project-img .card1 img:first-child{
        width: 28.125rem;
        height: 20.625rem;
        object-fit: cover;
        border-radius: 20px;
     }

     .project-img .card2 img{
        width: 43.125rem;
        height: 20.625rem;
        object-fit: cover;
        border-radius: 20px;
        margin-left: 40px;
     }

     .card1 h2 , .image3 h2{
      padding-top: 20px;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
       color: hsl(0, 0%, 15%);
             

     }

     .card2 h2, .image4 h2{ padding-top: 20px;
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
      margin-left:40px ;
      color: hsl(0, 0%, 15%);
      
     }   

   
     .card1 p , .image3 p{
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      padding-top: 10px;
      font-size: 1.1rem;
       color: hsl(0, 0%, 33%);
     }

     .card2 p, .image4 p{
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      margin-left: 40px;
      padding-top: 10px;
      font-size: 1.1rem;
      color: hsl(0, 0%, 33%);
     }






     



     /* container3 */

     .container3{
      height: 80vh;
      display: flex;

      margin-top:20px;
     }

     .container3 .image4 img{
       width: 28.125rem;
        height: 20.625rem;
        object-fit: cover;
        border-radius: 20px;
          margin-left: 40px;
          border-radius: 20px;
     }

     .container3 .image3 img{
        width: 43.125rem;
        height: 20.625rem;
        object-fit: cover;
        border-radius: 20px;
      
     }












     /* Conatiner4 */

     .container4{
      height:80vh
     }

     .container4 h1 {
      color: hsl(0, 0%, 8%);
      display: flex;
    
     }

   

     .container4 h1 span:last-child {
      color: rgb(110,6,242);
      margin-left:0px ;
      padding-left: 0px;

      
     }



     .smallcontainer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 30px;
      padding-right: 80px;
     }

     .info  li{
      list-style: none;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.2rem;

     }

     .info h2{
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
      padding-bottom: 20px;
      color: hsl(0, 0%, 7%);
     }

     .info ul li{
      color: hsl(0, 0%, 33%);
     }





     /* container5 */

      .container5{
        height: 80vh;
      }
     .container5 h1{
      
      padding-bottom: 30px;
      line-height: 1.2;

      display: flex;
     }

     .container5 p{
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.1rem;
      color: hsl(0, 1%, 23%);
      line-height: 20px;
     }
    
     .container5 h1 span:last-child{
      color: rgb(110,6,242);

     }





     /* container6 */

    
     .container6 .down{
      display: flex;
      justify-content: space-between;
     }

     .container6 .down .nav-links ul{
      display: flex;
      justify-content: space-between;
      width: 20rem;
      padding-top: 20px;
      
      list-style: none;
      font-family: "Poppins", sans-serif;
      font-weight: 600; 
      font-style: normal;
      font-size: 1.1rem;
    align-items: center;
  }
      .container6 .down .nav-links ul li{
        color: hsl(0, 0%, 34%);
        cursor: pointer;
       
       }

       .container6 .down .nav-links ul  :hover{
        color: rgb(110,6,242);
       
       }

      .logo2{
        display: flex;
        align-items: end;
        font-size: 1.5rem;  
        justify-content: space-between;
        width: 180px;
        }

        .logo2 i:hover{
          color: rgb(110,6,242) !important; ;
          cursor: pointer;
        }
      
        .down{
          padding-top: 100px;
          padding-bottom: 50px;
        }
      
        .container6 .foot{
          display: flex;
          justify-content: space-between;
          font-family: "Poppins", sans-serif;
          padding-bottom: 30px;
        } 

        .interested{
          font-size: 1.4rem;
          font-family: "Poppins", sans-serif;
          font-weight: 700;
          font-style: normal;
          padding-top: 20px;
          color: hsl(0, 1%, 31%);
          padding-bottom: 15px;
        }
        
        
        .copy{
          font-weight: 400;
          color: hsl(0, 0%, 34%);
          padding-right: 0px;
          padding-top: 60px;
        }

         .container6 .buttons .btn:first-child{
          background-color: rgb(110,6,242);
          color: white;
          border: none;
          
        }
         .container6 .buttons .btn:first-child:hover{
          background-color: rgb(141, 54, 254);
          color: white;
          transition: 0.3s ease-in;
        }

        
        .container6 .buttons .btn:last-child{
          margin-left: 20px;
          background-color: transparent;
          color: hsl(0, 0%, 21%);
        }

        .container6 .buttons .btn:last-child:hover{
          background-color: hsl(0, 0%, 21%);
          color: white;
          transition: 0.3s ease-in;
        }

        .container6 .interested span{
                color:  rgb(110,6,242);

        }























        /* MOBILE RESPONSIVENESS */

        @media screen and (max-width:650px){
        
          body{
            padding: 0px 20px;
          }

          

          .main{
            flex-direction: column;
            height: auto;
          }

        

          .main .heading h4{
            padding-top: 4rem;
            
          }

          

          .main .heading h2{
            font-size: 3.8rem;
            line-height: 1;
          }

          .main .heading p{
            font-size: 1.1rem;
            padding-top: 1.5rem;
           /* line-height: 1; */
          }
          /* .container{
            background-color: tomato;
          } */

          .image{
            display: flex;
            justify-content: center;
            align-items: center;
           padding-top: 4rem;
          }
          .image img{
            width: 80%;
            height: auto;
            border-radius: 50%;
            padding: 1.5rem;
            object-fit: cover;
          }





          /* container2 */

          .container2{
            height: auto;
            padding-bottom: 20px;
          }
          .project-img{
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
          }
          .Project {
            padding-top: 2rem;
            font-size: 2.5rem;
            color: hsl(0, 47%, 47%);
           
          }

          
          .Project h2 span:first-child{
            font-size: 3rem;
           
            font-weight: 700;
            color: rgb(46, 45, 46);
          }

          .project-img .card1 img ,.project-img .card2 img{
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 20px;
            margin-left: 0px;
          }

          .project-img .card1 img:first-child{
              width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 20px;
            margin-left: 0px;
          }

          .project-img p{
            padding-bottom: 1.5rem;
          }

          .card2 h2, .card2 p{
            margin-left : 0px;
            padding-bottom: 0px;
          }

          









          /* container3 */
          .container3{
            flex-direction: column;
            height: auto;
          }

          .container3  .image3 img, .container3 .image4 img{
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 20px;
            margin-left: 0px;
          }

          .container3 .image3:last-child {
            padding-bottom: 20px;
            margin-bottom: 40px;
          }

            .image3{
            margin-bottom: 2rem;
          }

          .image4 h2, .image4 p {
            margin-left:0px;
          }
           









          /* container4 skill */

          .container4{
            height: auto;
          }
          .smallcontainer{
            flex-direction: column;
            display: flex;
            align-items: start;
           padding-top: 0px;
            padding-right: 0px;
            padding-left: 0px;
          }

          .smallcontainer h2{
            padding-bottom: 1rem;
          }

          .smallcontainer .info{
            padding-top: 2rem;
          }

          .smallcontainer .info h2 {
            font-size: 1.5rem;
          }
          .container4 h1{
            font-size: 3rem;
            padding-top: 11rem;
          }
          














          /* container5 */
          .container5{
            height: auto;
            padding-bottom: 20px;
          }

          .container5 h1 span{
            font-size: 2.5rem;
          }
          .container5 p span{
            color: rgb(110,6,242);
          }
          

          /* container6 */

          .down{
            flex-direction: column;
            align-items: center;
            height:10rem;
            gap: 0.7rem;
          }

          .foot{
            padding-top: 2rem;
            flex-direction: column;
            align-items: center;
            display: flex;
          }

          /* .interested{
           padding-left: 1rem;
            
          } */

         .buttons .foot-btn2{
          margin-left: 0rem !important;
         }

         
      }


      .hamburger{
        display: none;
       
      }

      